Describe and architect an QUIC state machine

Reference: 

-  [RFC 9001](https://datatracker.ietf.org/doc/html/rfc9001)
- [RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000)
- [RFC 8446](https://datatracker.ietf.org/doc/html/rfc8446)
- [RFC 9002](https://datatracker.ietf.org/doc/html/rfc9002)
- [Cromium reference](https://www.chromium.org/quic/)
- [RFC 9308](https://www.rfc-editor.org/rfc/rfc9308.html)
- [QUIC LB ](https://datatracker.ietf.org/doc/html/draft-ietf-quic-load-balancers-14)
- [QUIC ACK](https://datatracker.ietf.org/doc/html/draft-ietf-quic-ack-frequency-08)


Based to RFC 9000:
## CLIENT-STREAM-FLOW:
![client-state-stream](https://github.com/davisouzaluna/Dquic/assets/86129094/9f510065-3e3c-433b-8619-31a4ddddaf84)

## SERVER-STREAM-FLOW:
![server-state-stream](https://github.com/davisouzaluna/Dquic/assets/86129094/b65f1cce-4aa7-4315-b1c1-ca0a0a32d561)





# TLS Interface Summary:

![image](https://github.com/davisouzaluna/Dquic/assets/86129094/442ed4ed-3262-49ae-b606-c2922f0997cf)


[RFC 9221](https://www.rfc-editor.org/rfc/rfc9221) informing about UDP datagrams, which work under QUIC